*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
.img-responsive{
width: 100%;
}
.img-curve{
    border-radius: 10px;
}
 
.text-right{
text-align: right;
}
.text-center{
    text-align: center;
    }

a{
   color: #080808; 
   text-decoration-line: none;
}

a:hover{
    color: #0d52e6;
}

.float-text{
    position:absolute;
    bottom: 60px;
    left: 40%;
}

   /* css for navbar section*/
   
.logo{
 
    width: 10%;
    float: left;
}
.navigation{
    line-height: 70px;
   
   
}
.navigation nav{
    list-style-type: none;
}
 .navigation nav li{
    display: inline;
    padding: 1%;
    font-weight: bold;
 }

/*ABOUT US*/



