*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0% ;
}
  
.img-responsive{
width: 100%;
}
.img-curve{
    border-radius: 10px;
}
 
.text-right{
text-align: right;
}

a{
   color: #080808; 
   text-decoration-line: none;
}

a:hover{
    color: #ff4757;
}


   /* css for navbar section*/
.logo{
    border: 2px solid black;
    width: 10%;
    float: left;
}
.navigation{
    line-height: 70px;
}
.navigation nav{
    list-style-type: none;
}
 .navigation nav li{
    display: inline;
    padding: 1%;
    font-weight: bold;
 }

/*ABOUT US*/

