@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Poppins', sans-serif;
}
  
.img-responsive{
width: 100%;
}
.img-curve{
    border-radius: 10px;
}
 
.text-right{
text-align: right;
}
.text-center{
    text-align: center;
    }

.float-text{
    position:absolute;
    bottom: 60px;
    left: 40%;
}

h1{
    background-color: #81ecec;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: auto;
    margin-top: 5rem;
    padding: 2rem;
}
/* Home page*/

.background {
    position: relative;
    width: 100%;
}

.background video {
    width: 100%;
    height: 500px; 
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.text-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: whitesmoke; 
}
.text-overlay h1 {
    font-size: 3em;
    margin-bottom: 10px;
    background-color: transparent;

}

.text-overlay small {
    font-size: 1.2em;
    color: whitesmoke; 
}

   /* css for navbar section*/

.logo{
 
    width: 10%;
    float: left;
}
.navigation{
    line-height: 70px;
   background-color: #ecf0f1;
   padding-bottom: 0.5%;
   
}
.navigation nav a{
    list-style-type: none;
    text-decoration-line: none;
    color: #1abc9c;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
 .navigation nav li{
    display: inline;
    padding: 1%;
    font-weight: bold;
 }
 .navigation a:hover{
    color: #000000;
}


/*ABOUT US*/

.about-us{
    position:absolute;
    bottom: 60px;
    left: 40%;
}
.about h1{
   color: #fff;
}

#About-us {
    background-color: #e42424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
<<<<<<< HEAD
  #about-us h1 {
    color: #050505;
  }
=======
>>>>>>> bc41b7b02a642d48d7566638471f2de47826bf25
  
  #about-us p {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
  }

  .about-us{
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    display: inline-block;
  }
  
  .img {
    font-size: 36px;
    margin-bottom: 10px;
    color: #3498db;
  }
  
  h3 {
    color: #333;
  }

  p {
    font-size: 16px;
  }
  /*styling for Services*/

  .box{
    background: linear-gradient(45deg,rgb(237, 234, 240),rgb(149, 177, 162));
    padding: 15px 9%;
    padding-bottom: 100px;
  }
  .box .heading{
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) ;
    font-size: 50px;
  }
  
  .containers .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
  }
  .box .box-container .box{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius:5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
  }

  .box.box-container .box img{
    height:80px;
  }

  .box .box-container .box h3{
    color:#333;
    font-size: 22px;
    padding: 10px 0;

  }

  .box .box-container .box p{
    color: #777;
    font-size: 15px;
    line-height: 1.8;
  }

  .box .box-container .box .btn{
    margin-top: 10x;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
  }
>>>>>>> bc41b7b02a642d48d7566638471f2de47826bf25
